* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* LAYOUT CLASSES  */

/* QUI INIZIA L'HEADER */
.container-full {
    width: 100%;
}

.row-header {
    display: flex;
}

.col-50 {
    width: 50%;
    padding: 30px;
}

.left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.bars {
    font-size: 26px;
}

/* MAIN */
.container-white {
    height: 1000px;

}

.container {
    padding: 50px 40px;
}

.container-demo {
    margin: 30px;
    padding-bottom: 20px;
}

.container-demo h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.container-demo p {
    font-size: 18px;
}

.container-demo button {
    border: none;
    padding: 10px 80px;
    border-radius: 20px;
    margin: 30px 0px;
    font-size: 20px;
}

.fa-brands {
    margin-right: 10px;
}

.col-66-down img {
    width: 100%;
    object-fit: cover;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-70 {
    width: 70%;
}


.col-66 {
    width: 100%;
    /* height: 700px; */
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 50px 50px 0px 50px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.col-33 {
    width: 100%;
    /* height: 450px;
    border: 1px solid black; */
    margin-bottom: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
}

.fa-file-code,
.fa-compass-drafting,
.fa-laptop-code,
.fa-bullhorn {
    padding-bottom: 30px;
    color: #3485ff;
    font-size: 100px;
}

.col-33.bg-lightblue h3 {
    margin-bottom: 30px;
    font-size: 26px;
    color: #3485ff;
}

.col-33.bg-lightblue p {
    text-align: center;
    line-height: 2em
}

/* .col-33.bg-lightblue {
    display: flex;
    flex-direction: column;
} */

.col-33-end {
    width: 100%;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 30px;
}

.col-30 {
    margin-top: 30px;
    width: 70%;
}

.col-30 img {
    width: 100%;
    border-radius: 100%;
}

.col-30 .fa-quote-left {
    font-size: 100px;
    position: relative;
    left: 72%;
    top: 90px;
}

.col-100 {
    width: 100%;
}

.br-40 {
    border-radius: 40px;
}

.col-25 {
    margin: 30px 0px;
}

.container.purple {
    padding: 50px 40px;
}

.container.bg-purple p {
    line-height: 2em;
    font-size: 18px;
}

.container.bg-purple h2 {
    font-size: 34px;
    margin-bottom: 60px;
}

.container-six-blocks {
    padding: 50px 40px;
}

.pt-50 {
    padding-top: 50px;
}

.row-inside-row {
    width: 100%;
    padding: 30px;
    margin: 60px 0px 20px 0px;
}

.row-inside-row p {
    margin-bottom: 40px;
}

.row-inside-row img {
    width: 100%;
}

.fa-arrow-down {
    padding: 25px;
    font-size: 20px;
    border-radius: 100%;
}

.committed {
    font-size: 38px;
    margin: 30px;
}

.lh-2 {
    line-height: 2em;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-38 {
    font-size: 38px;
}

.fs-40 {
    font-size: 40px;
}

.pd-30 {
    padding: 30px;
}

.text-center {
    text-align: center;
}

.testimonial {
    width: 250px;
    height: 250px;
    margin: 40px 80px;
    border-radius: 50%;
    object-fit: cover;
}

.content.bg-purple.d-flex-row.br-40 {
    padding-bottom: 40px;
}

.content.bg-purple.d-flex-row.br-40 p {
    margin-bottom: 30px;
}

.col-33-6-col {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 50px 30px;
}

.mg-t-b {
    margin: 30px 0px 30px 0px;
}

.content-button button {
    border: none;
    padding: 10px 60px 10px 60px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, sans-serif;
    margin-top: 30px;
}


/* FOOTER */

.col-50-footer-up {
    width: 100%;
    padding: 20px 30px;
    height: 150px;
}

.col-50-footer-down {
    width: 80%;
    height: 150px;
}

/* FINE LAYOUT CLASSES */


/* STYLE CLASSES */
.bg-blue {
    background-color: rgb(52, 133, 255);
}

.blue {
    color: rgb(52, 133, 255);
}

.violet {
    color: violet;
}

.white {
    color: white;
}

.purple {
    color: rgb(149, 147, 230);
}

.bg-purple {
    background-color: rgb(149, 147, 230);
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: rgb(53, 53, 53);
}

.grey {
    color: grey;
}

.bg-image {
    background-image: url(../img/planning1.png);
    width: 100%;
    height: 350px;
    background-size: cover;
    background-color: rgb(167, 127, 255);
    margin-bottom: 100px;
}

/* MEDIA QUERY */

@media screen and (min-width:768px) {
    .d-flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .d-flex-col {
        display: flex;
        flex-direction: column;
    }

    .col-100 {
        display: flex;
        justify-content: center;
    }

    .col-66 {
        width: calc(100% / 3 * 2 - 20px);
        margin: 10px;
    }

    .col-33 {
        width: calc(100% / 3 - 20px);
        margin: 10px;
    }

    .col-33.bg-white {
        width: calc(50% - 20px);
    }

    .col-30 {
        width: 30%;
        margin: 0px;
    }

    .row-inside-row .col-100 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col-50-footer-up {
        width: 100%;
        padding: 20px 100px;
        height: 150px;
    }

}

@media screen and (min-width:1160px) {

    .container-header {
        display: flex;
        justify-content: center;
    }

    .row-header {
        width: 70%;
    }

    .container-demo {
        display: flex;
        justify-content: center;
    }

    .container-demo .row {
        width: 70%;
    }

    .container {
        width: 70%;
        display: flex;
        justify-content: center;
    }

    .container-100 {
        width: 100%;
    }

    .row-inside-row {
        display: flex;
        justify-content: center;
    }

    .row-inside-row .col-100 {
        background-color: white;
    }

    .col-100 {
        width: 50%;
    }

    .container .row {
        width: 70%;
    }

    .col-66 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .col-66-down {
        display: flex;
        align-items: flex-end;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
        display: flex;
        justify-content: flex-start;

    }

    .col-50.right {
        justify-content: flex-end;
    }

    .col-33.bg-white {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 3 - 20px);
    }

    .container-70 {
        width: 70%;
    }

    .container-six-blocks {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .col-50-footer-up {
        width: 100%;
        padding: 20px 300px;
        height: 150px;
    }
}