* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* LAYOUT CLASSES  */

/* QUI INIZIA L'HEADER */
.container-full {
    width: 100%;
}

.row-header {
    display: flex;
}

.col-50 {
    width: 50%;
    padding: 30px;
}

.left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.bars {
    font-size: 26px;
}

/* MAIN */
.container-white {
    height: 1000px;

}

.container {
    padding: 50px 40px;
}

.container-demo {
    margin: 30px;
    padding-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-70 {
    width: 70%;
}


.col-66 {
    width: 100%;
    height: 700px;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.col-33 {
    width: 100%;
    height: 450px;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.col-33-end {
    width: 100%;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 30px;
}

.col-30 {
    margin-top: 30px;
}

.col-100 {
    width: 100%;
}

.col-25 {
    margin: 30px 0px;
}

.container.purple {
    padding: 50px 40px;
}

.pt-50 {
    padding-top: 50px;
}

.row-inside-row {
    width: 100%;
}

.text-center {
    text-align: center;
}

/* FOOTER */

.col-50-footer {
    width: 80%;
    height: 150px;
}

/* FINE LAYOUT CLASSES */


/* STYLE CLASSES */
.bg-blue {
    background-color: rgb(52, 133, 255);
}

.violet {
    color: violet;
}

.white {
    color: white;
}

.purple {
    color: #5000ff80;
}

.bg-purple {
    background-color: #5000ff80;
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: rgb(53, 53, 53);
}


/* MEDIA QUERY */

@media screen and (min-width:768px) {
    .d-flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .d-flex-col {
        display: flex;
        flex-direction: column;
    }

    .col-100 {
        display: flex;
        justify-content: center;
    }

    .col-66 {
        width: calc(100% / 3 * 2 - 20px);
        margin: 10px;
    }

    .col-33 {
        width: calc(100% / 3 - 20px);
        margin: 10px;
    }

    .col-33.bg-white {
        width: calc(50% - 20px);
    }

    .col-30 {
        width: 30%;
        margin: 0px;
    }

}